*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    background-color: cadetblue;
}
main {
    background-image: url(images/wallpaper3.jpg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-------------Tarjeta ejemplo-----------------*/
.card {
    width: 90%;
    max-width: 100rem;
    height: 50rem;
    padding: 4rem, 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /*background: violet;*/
    align-items: center;
}
.tarjetaEjemplo {
    width: 100%;
    max-width: 50rem;
    margin-top: 4rem;
    height: 30rem;
    min-height: 3.15rem;
    color: #fff;
    background: url(images/tarjetafondo3.jpg);
    padding: 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:  0 1rem 1rem 0 rgba(90,116,148,0.3);
}

.tarjetaEjemplo .logo-marca {
    text-align: right;
    min-height: 5rem;
}
.tarjetaEjemplo .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 9rem;
}
.tarjetaEjemplo .chip {
    width: 100%;
    max-width: 5rem;
    margin-bottom: 1rem;
}
.tarjetaEjemplo .datos {
    height: 30rem;
}
.tarjetaEjemplo .datos .label {
    font-size: 1.8rem;
    color: #7d8994;
	margin-bottom: 5px;
}
.tarjetaEjemplo .datos .numero {
    color: #fff;
    font-size: 2.2rem;
    text-transform: uppercase;
}

/*-------------Formulario tarjeta--------------*/
.formularioTarjeta{
    background: #fff;
    width: 100%;
    max-width: 70rem;
    padding: 1.4rem 3rem 3rem 3rem;
    border-radius: 1rem;
    position: relative;
    top: -13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:  0 1rem 1rem 0 rgba(90,116,148,0.3);
}

.formularioTarjeta .grupo {
    height: 20 rem;
}

.formularioTarjeta label {
    display: block;
	color: #7d8994;
	margin-bottom: 2.4rem;
	font-size: 2rem;
}

.formularioTarjeta input {
    border: 0.2rem solid #CED6E0;
	font-size: 1.8rem;
	height: 5rem;
	width: 100%;
	padding: 0.5rem 1.2rem;
    border-radius: 5px;
    margin-bottom: 0.6rem;
    margin-top: -1rem;
}

.formularioTarjeta .btn-validate {
    border: none;
	padding: 1rem;
	font-size: 2.2rem;
	color: #fff;
	background: #2364d2;
	box-shadow: 0.2rem 0.2rem 1rem 0rem rgba(0,85,212,0.4);
    cursor: pointer;
    border-radius: 5px;
}

.formularioTarjeta input:hover { /*Cuando pasemos el cursor se resaltará el input*/
    border: 0.2rem solid #93bded;
}

.formularioTarjeta .btn-validate:hover {
    background: #1850b1;
}

/*-------------Respuesta validación------------*/
.respuesta {
    background: #fff;
    width: 100%;
    max-width: 70rem;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
    position: relative;
    top: -18rem;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    box-shadow:  0 1rem 1rem 0 rgba(90,116,148,0.3);
}

/*--------------------FOOTER-------------------------*/
footer {
    background-image: url(images/wallpaper2.jpg);
}